#editor_window, #content_panel
{
    display: inline-block;
    margin: 0;
    padding: 0;
}

#editor_window
{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: white;
    z-index: 10;
}

#content_panel
{
    background-image:url(../images/frosted_pattern.png);
    width: 440px;
    height: 100%;
    position: absolute;
    box-shadow: 2px 2px 4px #777;
    z-index: 20;
}

#search
{
    height: 62px;
    border: 1px solid rgb(150,150,150);
    
    /*GRADIENT*/
    background: #d1d1d1; /* Old browsers */
    background: -moz-linear-gradient(top, #d1d1d1 0%, #959595 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #d1d1d1 0%,#959595 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #d1d1d1 0%,#959595 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d1d1', endColorstr='#959595',GradientType=0 ); /* IE6-9 */
}

#search_wrap
{
    height: 40px;
    width: 400px;
    margin: auto;
    display: block;
}

#search_bar
{
    width: 265px;
    height: 32px;
    display: block;
    margin: auto;
    position: relative;
    top: 12px;
    border-radius: 12px;
    background-color: #3B3B3B;
    font-size: 14px;
    font-family: AvenirNext;
    color: white;
    border: 1px solid rgb(200, 200, 200);
    padding-left: 60px;
}

#mag_glass
{
    position: relative;
    left: -140px;
    bottom: 28px;
    display: block;
    margin: auto;
}

#tabs_container
{
    height: 35px;
    width: 235px;
    margin: auto;
    display: block; 
    border-radius: 12px;
    border: 1px solid white;
    background-color: #2A2A2A;
    margin-top: 22px;
    overflow: hidden;
    cursor: pointer;
}

.tabs
{
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-right: 1px solid white;
    margin-right: -1px;
    display: inline-block;
}

.tabs p
{
    color: white;
    text-align: center;
    font-family: AvenirNext;
    font-size: 13px;
    position: relative;
    top: -4px;
}

.tabs-click
{
    background-color: #5C81D2;
    /*INNER SHADOW*/
    -webkit-box-shadow: inset 0px 0px 6px 0px rgba(80,80,80,0.6);
	-moz-box-shadow: inset 0px 0px 6px 0px rgba(80,80,80,0.6);
	box-shadow: inset 0px 0px 6px 0px rgba(80,80,80,0.6);
}

.pubmed-click
{
    border-left: 1px solid white;
    margin-left: -1px;
}

#toolbar
{
    height: 35px;
    width: 100%;
    border: 1px solid rgb(150,150,150);
    
    /*GRADIENT*/
    background: #eaeaea; /* Old browsers */
    background: -moz-linear-gradient(top, #eaeaea 0%, #d2d2d2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #eaeaea 0%,#d2d2d2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #eaeaea 0%,#d2d2d2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#d2d2d2',GradientType=0 ); /* IE6-9 */
}

#toolbar img
{
    display: inline-block;
    position: relative;
    float: right;
    height: 19px;
    width: 19px;
    top: 8px;
}

#extend_div
{
    position: relative;
    height: 100%;
    float: right;
    width: 10px;
    opacity: 0;
    cursor: ew-resize;
    z-index: 100;
}

.results_container
{
    top: 70px;
    display: block;
    margin: auto;
    position: absolute;
}

.results_container > * {
    color: white;
}

#pubmed_results, #google_results
{
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
}

.results_header
{
    font-size: 18px;
    text-align: center;
    font-family: AvenirNext;
    font-weight: normal;
}

.single_result_a
{
    background-color: rgba(90,90,90,0.5);
}

.single_result_b
{
    background-color: rgba(255,255,255,0);
}

.single_result
{
    color: white;
    font-family: AvenirNext;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.single_result h1
{
    color: white;
    font-family: AvenirNext;
    text-decoration: none;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.single_result .authors
{
    font-size: 10px;
    position: relative;
    top: -10px;
}

.single_result > * {
    color: white;
}

.dateSource
{
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.abstract
{
    font-size: 12px;
    margin-bottom: 20px;
    display: none;
}

.articleNum
{
    position: relative;
    top: 15px;
    left: 15px;
    font-size: 16px;
}

.article_title
{
    color: white;
    text-decoration: none;
}

.single_result b
{
    font-weight: bold;
    font-size: 14px;
}

/*Literally displays the word "abstract"*/
.single_result h2
{
    font-size: 16px;
    display: inline;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

#search_form
{
    margin: auto;
    display: block;
}

.loader
{
    height: 20px;
    position: relative;
    bottom: 18px;
    left: 330px;
}

/* --- Page controller ----- */
#pageNum
{
    display: block;
    margin: auto;
    margin-bottom: 0;
    font-size: 12px;
    position: relative;
    padding: 0;
    background-color: blue;
    text-align: center;
    height: 0;
    top: 10px;
    
}

#pageNext
{
    display: block;
    text-align: right;
    float: right;
    margin-right: 20px;
    padding: 0;
    font-size: 12px;
}

#pagePrev
{
    display: block;
    text-align: left;
    float: left;
    margin-left: 30px;
    padding: 0;
    font-size: 12px;
}

#pagePrev:hover, #pageNext:hover
{
    text-decoration: underline;
}

/* Edit Area */
#edit_area
{
    position: relative;
    resize: none;
    border: none;
    color: black;
}

h1, h2, h3, p, li
{
    color: black;
    font-family: AvenirNext;
}

#editor
{
    padding: 20px;
    left: 440px;
    position: relative;
    color: black;
    overflow: scroll;
}

#document_title
{
    display: inline-block;
    font-size: 16px;
    border: none;
    background-color: rgba(255,255,255,0);
    resize: none;
    outline: none;
    height: 16px;
    width: 60px;
}

#wiki_markup
{
    height: 500px;
    width: 500px;
    background-color: yellow;
    display: none;
}

.refButton
{
    position: relative;
    display: block;
    bottom: 25px;
    font-size: 12px;
    width: 40px;
    float: right;
}

#doc_title_div
{
    position: relative;
    top: 6px;
    display: inline-block;
}

#doc_status
{
    font-family: AvenirNext;
    color: #777;
    display: inline;
    font-size: 10px;
    position: relative;
    top: -3px;
}

/*FILE WINDOW CSS*/
#fileWindow
{
    height: 500px;
    width: 500px;
    border: 1px solid rgb(180,180,180);
    position: absolute;
    z-index: 200;
    border-radius: 6px;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -250px;
    -webkit-box-shadow: 18px 20px 31px -5px rgba(48,48,48,0.47);
    -moz-box-shadow: 18px 20px 31px -5px rgba(48,48,48,0.47);
    box-shadow: 18px 20px 31px -5px rgba(48,48,48,0.47);
}

#innerFileWindow
{
    height: 100%;
    width: 100%;
    background-color: rgba(120,120,120,0.7);
    border-top: 1px solid white;
    border-radius: 6px;
}

#fwToolbar
{
    height: 30px; 
    background: #ededed; /* Old browsers */
    background: -moz-linear-gradient(top, #ededed 0%, #d3d3d3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ededed 0%,#d3d3d3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ededed 0%,#d3d3d3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#d3d3d3',GradientType=0 ); /* IE6-9 */
}

#fwToolbar p
{
    font-family: AvenirNext;
    text-align: center;
    font-size: 14px;
    color: #333;
    position: relative;
    top: 5px;
    margin: 0;
    padding: 0;
}

#fwExit
{
    height: 12px;
    width: 12px;
    position: relative;
    bottom: 10px;
    left: 10px;
    display: inline-block;
    float: left;
    background-image: url(../images/close.png);
    background-size: cover;
    background-repeat: none;
}

#fwExit:hover
{
    background-image: url(../images/close_hover.png);
}

#fwExit:active
{
    background-image: url(../images/close_click.png);
}