#reset_container
{
    width: 650px;
    height: 230px;
    display: block;
    margin: auto;
    margin-top: 300px;
    text-align: center;
    border-radius: 20px;
}

.form_input
{
    background-color: #3B3B3B;
    width: 80%;
    height: 60px;
    border-radius: 20px;
    font-size: 30px;
    font-family: AvenirNext;
    padding-left: 30px;
    color: white;
}

#reset
{
    width: 80px;
    font-size: 16px;
    height: 40px;
    position: relative;
    top: 20px;
    border: none;
    border-radius: 20px;
    left: 235px;
}

#reset_container h1
{
    color: #3B3B3B;
}

#email_err
{
    color: red;
    font-size: 18px;
    bottom: 70px;
    position: relative;
}