h1, h3, h3, p
{
    font-family:AvenirNext;
    color: white;
}



body {
	padding: 0;
	margin: 0;
    height: 100%;
    width: 100%;
	background-image:url(../images/dark_pattern.png);
    overflow: hidden;
}

body:hover
{
    overflow-y: scroll;
}

/* NAVIGATION */
#navbar
{
    height: 70px;
    width: 100%;
    display: block;
	margin: 0;
    background-color:white;
}

#nav_title a
{
    text-decoration: none;
    color: black;
}

#login
{
	display: inline-block;
	width: 450px;
	float: right;
    position: relative;
    bottom: 10px;
}

#login input
{
    background-color: #4C4C4C;
    color: white;
}

input
{
	border-radius: 5px;
	border: none;
	height: 20px;
	padding-left: 10px;
	padding-bottom: 3px;
	outline: none;
}

form
{
    font-family: AvenirNext;
}

.input_blur
{
	color: rgb(204,204,204);
}

.input_selected
{
	color: white;
	-webkit-box-shadow: inset 0px 0px 4px 0px rgba(107,208,255,1);
	-moz-box-shadow: inset 0px 0px 4px 0px rgba(107,208,255,1);
	box-shadow: inset 0px 0px 4px 0px rgba(107,208,255,1);	
}

/*BUTTONS*/
#login button
{
	display: inline-block;
	height: 24px;
	width: 60px;
	border-radius: 5px;
	border: none;
	font-family:AvenirNext;
	font-weight: bold;
	color:#4A4A4A;
	position: relative;
	bottom: 1px;
	
	background: #a9db80; /* Old browsers */
	background: -moz-linear-gradient(top, #a9db80 0%, #96c56f 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #a9db80 0%,#96c56f 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #a9db80 0%,#96c56f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9db80', endColorstr='#96c56f',GradientType=0 ); /* IE6-9 */
	
	-webkit-box-shadow: inset 0px 0px 2px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 0px 2px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 0px 2px 0px rgba(255,255,255,1);
}

#login button:active
{
	background: #a9db80; /* Old browsers */
	background: -moz-linear-gradient(top, #96c56f 0%, #a9db80 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #96c56f 0%,#a9db80 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #96c56f 0%,#a9db80 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96c56f', endColorstr='#a9db80',GradientType=0 ); /* IE6-9 */
}


.button
{
    background-color: #3B3B3B;
    color: white;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
}

.button:active
{
    background-color:dimgrey;
}

/*END BUTTONS*/

#nav_title
{
	color: black;
	position: relative;
	left: 2%;
	top: 20px;
	font-family: AvenirNext;
	margin:0;
	font-size: 18px;
	width: 200px;
}

.error
{
    font-size: 12px;
    text-align: center;
    color: red;
}

#reg_err
{
    position: absolute;
    left: 150px;
}

#greeting
{
    font-family: AvenirNext;
    font-size: 14px;
    position: relative;
    bottom: 10px;
    text-align: right; 
    right: 70px;
    color: #969393;
}

#greeting a 
{
    font-size: 10px;
    text-decoration: underline;
    color: #969393;
}

.style_a
{
    border-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.4);
}

#password_forgot
{
    color: black;
    font-size: 10px;
    position:relative;
    bottom: 20px;
    left: 220px;
    text-decoration: none;
}

#password_forgot:hover
{
    text-decoration: underline;
}

nav
{
    text-align: right;
    position: relative;
    right: 50px;
    bottom: 35px;
    color: black;
    font-family: AvenirNext;
    font-size: 20px;
    visibility: collapse;
}

nav a:hover
{
    text-decoration: underline;
}

.disable_text_highlight
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
